<!DOCTYPE html>
<html>
<head>
    <% include ./inc/_header.ejs %>
</head>
<body>
<div class="container">
    <% include ./inc/_nav.ejs %>

    <h1><%= title %></h1>

    <div class="index">

        <div class="clearfix">
            <div class="btn-group btn-group-sm pull-right">
                <a class="btn btn-info" href="/new">Write</a>
            </div>
        </div>

        <ul class="list-group">
            <% data.forEach(function (e) { %>
            <li class="list-group-item">
                <a href="/board/<%= e._id %>"><%= e.title %></a>
                <span><%= e.createdAt.toLocaleDateString() %></span>
            </li>
            <% }) %>
        </ul>

    </div>

</div>
<% include ./inc/_footer.ejs %>
</body>
</html>